In [303]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [304]:
df=pd.read_csv('Churn_Modelling.csv')

In [305]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [306]:
df=df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [307]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [308]:
from sklearn.preprocessing import LabelEncoder
label_gender=LabelEncoder()

In [309]:
df['Gender']=label_gender.fit_transform(df['Gender'])

In [310]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [311]:
from sklearn.preprocessing import OneHotEncoder
geo_encoder = OneHotEncoder()
geo_encoded = geo_encoder.fit_transform(df[['Geography']])

In [312]:
geo_encoded

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [313]:
geo_encoder.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [314]:
geo_encoded_df=pd.DataFrame(geo_encoded.toarray(),columns=geo_encoder.get_feature_names_out(['Geography']),)

In [315]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [316]:
df=pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [317]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [318]:
import pickle

In [319]:
with open('label_gender.pkl','wb') as file:
    pickle.dump(label_gender,file)

In [320]:
with open('geo_encoder.pkl','wb') as file:
    pickle.dump(geo_encoder,file)

In [321]:
X=df.drop(['Exited'],axis=1)
y=df['Exited']

In [322]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [323]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [324]:
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [325]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [ ]:
%pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (2.19.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorflow) (2.3.1)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorflow) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorflow) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorflow) (3.4.0)
Requirement already satisfied: packaging in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorflow) (24.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorflow) (5.29.3)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorflow) (2.32.3)
Requirement already satisfied: setuptools in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorflow) (75.1.0)
Requirement already satisfied: six>=1.12.0 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorflow) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorflow) (3.1.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorflow) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorflow) (1.17.2)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorflow) (1.74.0)
Requirement already satisfied: tensorboard~=2.19.0 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorflow) (2.19.0)
Requirement already satisfied: keras>=3.5.0 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorflow) (3.11.0)
Requirement already satisfied: numpy<2.2.0,>=1.26.0 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorflow) (2.1.3)
Requirement already satisfied: h5py>=3.11.0 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorflow) (3.14.0)
Requirement already satisfied: ml-dtypes<1.0.0,>=0.5.1 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorflow) (0.5.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from astunparse>=1.6.0->tensorflow) (0.44.0)
Requirement already satisfied: rich in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from keras>=3.5.0->tensorflow) (13.9.4)
Requirement already satisfied: namex in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from keras>=3.5.0->tensorflow) (0.1.0)
Requirement already satisfied: optree in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from keras>=3.5.0->tensorflow) (0.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (2025.1.31)
Requirement already satisfied: markdown>=2.6.8 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorboard~=2.19.0->tensorflow) (3.8.2)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorboard~=2.19.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorboard~=2.19.0->tensorflow) (3.1.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from werkzeug>=1.0.1->tensorboard~=2.19.0->tensorflow) (3.0.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from rich->keras>=3.5.0->tensorflow) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from rich->keras>=3.5.0->tensorflow) (2.19.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow) (0.1.2)

In [327]:
import tensorflow as tf

In [ ]:
%pip install tensorboard

Requirement already satisfied: tensorboard in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (2.19.0)
Requirement already satisfied: absl-py>=0.4 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorboard) (2.3.1)
Requirement already satisfied: grpcio>=1.48.2 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorboard) (1.74.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorboard) (3.8.2)
Requirement already satisfied: numpy>=1.12.0 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorboard) (2.1.3)
Requirement already satisfied: packaging in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorboard) (24.2)
Requirement already satisfied: protobuf!=4.24.0,>=3.19.6 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorboard) (5.29.3)
Requirement already satisfied: setuptools>=41.0.0 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorboard) (75.1.0)
Requirement already satisfied: six>1.9 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorboard) (1.17.0)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorboard) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from tensorboard) (3.1.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\shahid\onedrive\desktop\python\venv\lib\site-packages (from werkzeug>=1.0.1->tensorboard) (3.0.2)

In [ ]:
from tensorflow.keras.models import Sequential # type: ignore
from tensorflow.keras.layers import Dense # type: ignore

In [ ]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard # type: ignore

In [331]:
import datetime

In [332]:
X_train.shape[1]

12

In [333]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1,activation='sigmoid')
])

c:\Users\SHAHID\OneDrive\Desktop\Python\venv\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [334]:
model.summary()

Model: "sequential_7"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_21 (Dense)                │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_22 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_23 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [335]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)

In [336]:
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [337]:
log_dir='log/fit/' + datetime.datetime.now().strftime('%Y %m %d - %H %M %S/')
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [338]:
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [339]:
histroy=model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[tensorflow_callback,early_stopping_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8269 - loss: 0.4035 - val_accuracy: 0.8585 - val_loss: 0.3554
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8525 - loss: 0.3580 - val_accuracy: 0.8595 - val_loss: 0.3458
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8554 - loss: 0.3469 - val_accuracy: 0.8605 - val_loss: 0.3431
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8562 - loss: 0.3417 - val_accuracy: 0.8570 - val_loss: 0.3542
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8570 - loss: 0.3389 - val_accuracy: 0.8580 - val_loss: 0.3440
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8574 - loss: 0.3365 - val_accuracy: 0.8585 - val_loss: 0.3496
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8570 - loss: 0.3359 - val_accuracy: 0.8610 - val_loss: 0.3450
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8605 - loss: 0.3335 - val_accuracy: 0.8585 - val_loss: 0.3470

In [340]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [341]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [342]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 13260), started 4:24:14 ago. (Use '!kill 13260' to kill it.)