In [1]:
import tensorflow as tf
import pickle
from tensorflow.keras.models import load_model
import pandas as pd
import numpy as np

In [2]:
model=load_model('model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [3]:
with open('label_gender.pkl','rb') as file:
    label_gender=pickle.load(file)

In [4]:
with open('geo_encoder.pkl','rb') as file:
    geo_encoder=pickle.load(file)

In [5]:
with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

In [78]:
input_data={
    'CreditScore':608,	
    'Geography':'Spain',
    'Gender':'Female',
    'Age':41,	
    'Tenure':1,	
    'Balance':83807.86,	
    'NumOfProducts':1,	
    'HasCrCard':0,	
    'IsActiveMember':1,	
    'EstimatedSalary':112542.58,
}

In [79]:
geo_array = geo_encoder.transform([[input_data['Geography']]]).toarray()

c:\Users\SHAHID\OneDrive\Desktop\Python\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [80]:
geo_df = pd.DataFrame(geo_array, columns=geo_encoder.get_feature_names_out(['Geography']))

In [81]:
geo_df

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                0.0              1.0

In [82]:
input_df=pd.DataFrame([input_data])

In [83]:
input_df['Gender']=label_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,608,Spain,0,41,1,83807.86,1,0,1,112542.58

In [84]:
input_df=pd.concat([input_df.drop('Geography',axis=1),geo_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,608,0,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0

In [85]:
input_scaled=scaler.transform(input_df)

In [86]:
pred=model.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 66ms/step

In [87]:
pred

array([[0.24404106]], dtype=float32)

In [88]:
pred[0][0]

np.float32(0.24404106)

In [89]:
if pred[0][0]>0.5:
    print('The person is likely to churn')
else:
    print("the person is not likely to churn")

the person is not likely to churn